{% extends 'dashboard/base_generic.html' %}
{% load static %}

{% block head %}
    <title>Settings</title>
{% endblock %}

{% block content %}

<nav id="sidebarMenu" class="sticky-top pt-0 col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link"  href="{% url 'dashboard' %}">
                <span data-feather="home"></span>
                Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'analysis' %}">
                <span data-feather="bar-chart-2"></span>
                Analysis
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'checkpoints' %}">
                <span data-feather="users"></span>
                Checkpoints
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'settings' %}">
                <span data-feather="layers"></span>
                Settings
                </a>
            </li>
            </ul>
    
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
            </h6>
            <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reports' %}">
                <span data-feather="file-text"></span>
                Current month
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Analysis</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <div class="dropdown">
                <a class="btn btn-sm  btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item nav-link" href="{% url 'settings' %}">Settings</a></li>
                    <li><a class="dropdown-item nav-link" href="{% url 'welcomenote' %}">Welcome Page</a></li>
                    <li><a class="dropdown-item nav-link" href="{% url 'account_logout' %}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- PAGE CONTENT HERE -->   

    <div class="d-flex justify-content-center">
        <div id="spinner" class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>


    <div id="FundProportion" class="p-3" style="width:100%">
		<canvas id="FundProportion-area"></canvas>
	</div>
    

    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <strong> (VFIFX) </strong> &nbsp; Vanguard Target Retirement 2050 Fund  
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group">
                    <button id="g1minus" type="button" class="btn btn-danger"><div data-feather="minus-square"></button>
                    <button id="g1plus" type="button" class="btn btn-success"><div data-feather="plus-square"></button>
                    </div>  
                </div>
                <div class="p-3">
                    Vanguard Target Retirement Funds offer a diversified portfolio within a single fund that adjusts its 
                    underlying asset mix over time. The funds provide broad diversification while incrementally decreasing exposure to 
                    stocks and increasing exposure to bonds as each fund’s target retirement date 
                    approaches.- <a href="https://investor.vanguard.com/mutual-funds/profile/VFIFX"> Link to more details </a>
                </div>
                <div class="container-fluid p-3">
                    <div class="row">
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Environment Risk Score: </Strong>
                        <span class="border border-danger p-1">4.2</span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Social Risk Score: </Strong>
                        <span class="border border-danger p-1">4.2</span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Governance Risk Score: </Strong>
                        <span class="border border-danger p-1">7.6</span>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong> (VMMSX) </strong> &nbsp; Emerging Markets Select Stock 
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group" aria-label="Basic example">
                    <button id="g2minus" type="button" class="btn btn-danger"><div data-feather="minus-square"></button>
                    <button id="g2plus" type="button" class="btn btn-success"><div data-feather="plus-square"></button>
                    </div>  
                </div>
                <div class="p-3">
                    This actively managed fund provides exposure to emerging markets outside of the United States
                     at a relatively low cost. The fund invests in emerging market countries, including Brazil,
                      Russia, India, and China. - <a href="https://investor.vanguard.com/mutual-funds/profile/VMMSX"> Link to more details </a>
                </div>
                <div class="container-fluid p-3">
                    <div class="row">
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Environment Risk Score: </Strong>
                        <span class="border border-danger p-1">6.4</span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Social Risk Score: </Strong>
                        <span class="border border-danger p-1">9.9</span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Governance Risk Score: </Strong>
                        <span class="border border-danger p-1">9.3</span>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong> (VSCGX) </strong> &nbsp; LifeStrategy Conservative Growth
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group" aria-label="Basic example">
                    <button id="g3minus" type="button" class="btn btn-danger"><div data-feather="minus-square"></button>
                    <button id="g3plus" type="button" class="btn btn-success"><div data-feather="plus-square"></button>
                    </div>  
                </div>
                <div class="p-3">
                    The LifeStrategy Funds are a series of broadly diversified, low-cost funds with an all-index, fixed allocation approach
                     that may provide a complete portfolio in a single fund. The four funds, each with a different allocation, target various
                      risk-based objectives. - <a href="https://investor.vanguard.com/mutual-funds/profile/VSCGX"> Link to more details </a>
                </div>
                <div class="container-fluid p-3">
                    <div class="row">
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Environment Risk Score: </Strong>
                        <span class="border border-danger p-1">None</span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Social Risk Score: </Strong>
                        <span class="border border-danger p-1">None</span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Governance Risk Score: </Strong>
                        <span class="border border-danger p-1">None</span>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <strong> (VASGX) </strong> &nbsp; LifeStrategy Growth 
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group" aria-label="Basic example">
                    <button id="g4minus" type="button" class="btn btn-danger"><div data-feather="minus-square"></button>
                    <button id="g4plus" type="button" class="btn btn-success"><div data-feather="plus-square"></button>
                    </div>  
                </div>
                <div class="p-3">
                The LifeStrategy Funds are a series of broadly diversified, low-cost funds with an all-index, 
                fixed allocation approach that may provide a complete portfolio in a single fund. The four funds, 
                each with a different allocation, target various risk-based objectives. - <a href="https://investor.vanguard.com/mutual-funds/profile/VASGX"> Link to more details </a>
                </div>
                <div class="container-fluid p-3">
                    <div class="row">
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Environment Risk Score: </Strong>
                        <span class="border border-danger p-1">4.1</span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Social Risk Score: </Strong>
                        <span class="border border-success p-1">9.7</span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Governance Risk Score: </Strong>
                        <span class="border border-danger p-1">7.6</span>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <strong> (VWIGX) </strong> &nbsp; International Growth
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group" aria-label="Basic example">
                    <button id="g5minus" type="button" class="btn btn-danger"><div data-feather="minus-square"></button>
                    <button id="g5plus" type="button" class="btn btn-success"><div data-feather="plus-square"></button>
                    </div>  
                </div>
                <div class="p-3">
                    The International Growth Fund focuses on non-U.S. companies with high growth potential. Created in 1981, the fund employs
                     an aggressive approach that attempts to capitalize on global economic 
                     expansion.  - <a href="https://investor.vanguard.com/mutual-funds/profile/VWIGX"> Link to more details </a>
                </div>
                <div class="container-fluid p-3">
                    <div class="row">
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Environment Risk Score: </Strong>
                        <span class="border border-danger p-1">43.3/span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Social Risk Score: </Strong>
                        <span class="border border-success p-1">10.3</span>
                      </div>
                      <div class="col-md border border-secondary p-2 m-2">
                        <Strong> Governance Risk Score: </Strong>
                        <span class="border border-danger p-1">8.1</span>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

    </div>

    <div id="SalaryProp" class="p-3" style="width:100%">
		<canvas id="SalaryProp-area"></canvas>
    </div>

    
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input id="salaryBox" type="text" class="form-control" aria-label="Text input with dropdown button" laceholder="20000">
        <span class="input-group-text">.00</span>
        <button id="bindtext" class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Choose Industry</button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <li><a id="tech" class="dropdown-item">Tech</a></li>
            <li><a id="finance" class="dropdown-item">Finance</a></li>
            <li><a id="other" class="dropdown-item">Other</a></li>
        </ul>
        </ul>
    </div>

<!-- PAGE CONTENT END -->   

</main>
<!-- JS File -->   
<script src="{% static 'janalysis.js' %}"></script>

{% endblock %}

{% block footer %}
{% endblock %}

