{% extends 'dashboard/base_generic.html' %}
{% load static %}

{% block head %}
    <title>Dashboard</title>
{% endblock %}

{% block content %}

<nav id="sidebarMenu" class="sticky-top pt-0 col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
        <li class="nav-item">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">
            <span data-feather="home"></span>
            Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'analysis' %}">
            <span data-feather="bar-chart-2"></span>
            Analysis
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'checkpoints' %}">
            <span data-feather="users"></span>
            Checkpoints
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'settings' %}">
            <span data-feather="layers"></span>
            Settings
            </a>
        </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Reports</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
        </a>
        </h6>
        <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reports' %}">
            <span data-feather="file-text"></span>
            Current month
            </a>
        </li>
        </ul>
    </div>
</nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button id="refreshButton" type="button" class="btn btn-sm btn-outline-secondary">Refresh</button>
                <!-- CSRF token is for submitting post requests -->
                {% csrf_token %} 
                <button id="predictButton" type="button" class="btn btn-sm btn-outline-secondary">Predict</button>
            </div>
            <div class="dropdown">
                <a class="btn btn-sm  btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item nav-link" href="{% url 'settings' %}">Settings</a></li>
                    <li><a class="dropdown-item nav-link" href="{% url 'welcomenote' %}">Welcome Page</a></li>
                    <li><a class="dropdown-item nav-link" href="{% url 'account_logout' %}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- PAGE CONTENT HERE -->  

    <h2>Futures</h2>

    <div class="d-flex justify-content-center">
        <div id="spinner" class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- Predicted Investment Holding Progression-->
    <div id="PIH" class="p-3" style="width:100%">
		<canvas id="PIH-canvas"></canvas>
    </div>
    <!-- Predicted Salary and Net Expendable-->
    <div id="PSNE" class="p-3" style="width:100%">
		<canvas id="PSNE-canvas"></canvas>
    </div>
    <label for="customRange20" class="form-label">Duration: &nbsp; <span id="ranget"></span>  &nbsp; </label>
    <input type="range" class="form-range" min="5" max="20" id="customRange20">

    <h4>Life Checkpoints</h4>
    <!-- Checkpoints Overview -->
    <ul id="tracklist" class="list-group list-group-flush p-3">
    </ul>
    <div class="pb-3 btn-group d-grid d-md-flex justify-content-md-end" role="group">
        <button id="add_activity" type="button" class="btn btn-dark">
            <span data-feather="plus-square"></span>
            New Checkpoint
        </button>
    </div> 


    <h2>Current Position</h2>
    
    <!-- Asset Distribution -->
    <div id="ASSETS" class="p-3" style="width:100%">
		<canvas id="ASSETS-canvas"></canvas>
    </div>

    <h4>Primary Holdings</h4>
    <!-- Current Top Investments/Charities and USG Scores -->
    <div class="p-3 btn-group d-grid d-md-flex justify-content-md-end" role="group">
        <button id="charityStat" type="button" class="btn btn-dark">
            <span data-feather="activity"></span>
            Charity Name
        </button>
        <button id="fundStat" type="button" class="btn btn-light">
            <span id="fundName" data-feather="arrow-up-right"></span>
            Fund Name
        </button>
    </div> 
    <!-- STATS -->
    <!-- PAGE CONTENT END -->   
    
    
</main>
<!-- JS File -->   
<script src="{% static 'jdashboard.js' %}"></script>
<!-- dev -->
<script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        async function postData(url = '', data = {}) {
        // Default options are marked with *
        var response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            credentials: 'include', // include, *same-origin, omit
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,

            },
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
        }

        var projection;
        var static;

        var predictButton = document.querySelector("#predictButton");
        predictButton.addEventListener("click", function(){
            postData('/api/predict-value/', {
                invest: [1,2,3,4],
            })
            .then(data => {
                projection = data['projection'];
                static = data['static'];
                document.getElementById("projectionDisplay").innerHTML = projection['Value'];
                document.getElementById("staticDisplay").innerHTML = static['Value'];
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
</script>


{% endblock %}

{% block footer %}
{% endblock %}

