{% extends 'dashboard/base_generic.html' %}

{% load static %}

{% block head %}
    <title>Dashboard</title>
    <!-- Favicons 
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    -->

    <style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
    }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'dashstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
        <li class="nav-item">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">
            <span data-feather="home"></span>
            Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'analysis' %}">
            <span data-feather="bar-chart-2"></span>
            Analysis
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'checkpoints' %}">
            <span data-feather="users"></span>
            Checkpoints
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'settings' %}">
            <span data-feather="layers"></span>
            Settings
            </a>
        </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Reports</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
        </a>
        </h6>
        <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reports' %}">
            <span data-feather="file-text"></span>
            Current month
            </a>
        </li>
        </ul>
    </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button id="refreshButton" type="button" class="btn btn-sm btn-outline-secondary">Refresh</button>
            <!-- CSRF token is for submitting post requests -->
            {% csrf_token %} 
            <button id="predictButton" type="button" class="btn btn-sm btn-outline-secondary">Predict</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary">
            <a class="nav-link" href="{% url 'account_logout' %}">Sign out</a>
        </button>
        </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    <!-- TESING!!-->
    <h2>Section title</h2>
    <h3>Projection Display</h3>
    <p id="projectionDisplay"></p>
    <h3>Static Display</h3>
    <p id="staticDisplay"></p>
    <label for="customRange1" class="form-label">TestRange</label>
    <input type="range" class="form-range" id="customRange1">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Test Input</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Test CheckBox </label>
        </div>
        <button type="button" onmouseover="testButtonFunc()" id="UI1" class="btn btn-outline-primary">ButtonSubmit</button>
        </form>
    
    </main>
  
    <script src="{% static 'jdashboard.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>

    <script>
        var userdata;

        var refreshButton = document.querySelector("#refreshButton");
        refreshButton.addEventListener("click", function(){
            fetch('/api/userdata/', {
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                userdata = data[0];
                console.log('Success:', userdata);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
        
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        async function postData(url = '', data = {}) {
        // Default options are marked with *
        var response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            credentials: 'include', // include, *same-origin, omit
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,

            },
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
        }

        var projection;
        var static;

        var predictButton = document.querySelector("#predictButton");
        predictButton.addEventListener("click", function(){
            postData('/api/predict-value/', {
                invest: [1,2,3,4],
            })
            .then(data => {
                projection = data['projection'];
                static = data['static'];
                document.getElementById("projectionDisplay").innerHTML = projection['Value'];
                document.getElementById("staticDisplay").innerHTML = static['Value'];
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
        
    </script>

{% endblock %}

{% block footer %}
{% endblock %}

