{% extends 'dashboard/base_generic.html' %}
{% load static %}

{% block head %}
    <title>Settings</title>
{% endblock %}

{% block content %}

<nav id="sidebarMenu" class="sticky-top pt-0 col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link"  href="{% url 'dashboard' %}">
            <span data-feather="home"></span>
            Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'analysis' %}">
            <span data-feather="bar-chart-2"></span>
            Analysis
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'checkpoints' %}">
            <span data-feather="users"></span>
            Checkpoints
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'settings' %}">
            <span data-feather="layers"></span>
            Settings
            </a>
        </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Reports</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
        </a>
        </h6>
        <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reports' %}">
            <span data-feather="file-text"></span>
            Current month
            </a>
        </li>
        </ul>
    </div>
</nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Settings</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <div class="dropdown">
                <a class="btn btn-sm  btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Options
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item nav-link" href="{% url 'settings' %}">Settings</a></li>
                    <li><a class="dropdown-item nav-link" href="{% url 'account_logout' %}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>

  
<!-- PAGE CONTENT HERE -->   


    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Age</span>
        <input type="text" class="form-control" placeholder="22" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Age</span>
        <input type="range" class="form-range" id="timelineRange">
    </div>
      
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"></span>
    </div>
      

    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <strong> (VFIFX) </strong> &nbsp; Vanguard Target Retirement 2050 Fund  
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group">
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>  
                </div>
                <div class="p-3">
                Some tooltip about this - <a href="#"> Link to more details </a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong> (VMMSX) </strong> &nbsp; Emerging Markets Select Stock 
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group" aria-label="Basic example">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>  
                </div>
                <div class="p-3">
                Some tooltip about this - <a href="#"> Link to more details </a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong> (VSCGX) </strong> &nbsp; LifeStrategy Conservative Growth
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group" aria-label="Basic example">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>  
                </div>
                <div class="p-3">
                Some tooltip about this - <a href="#"> Link to more details </a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <strong> (VASGX) </strong> &nbsp; LifeStrategy Growth 
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group" aria-label="Basic example">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>  
                </div>
                <div class="p-3">
                Some tooltip about this - <a href="#"> Link to more details </a>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <strong> (VWIGX) </strong> &nbsp; International Growth
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="btn-group d-grid d-md-flex justify-content-md-end" role="group" aria-label="Basic example">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>  
                </div>
                <div class="p-3">
                Some tooltip about this - <a href="#"> Link to more details </a>
                </div>
            </div>
        </div>

    </div>

    <div id="SalaryProp" class="p-3" style="width:100%">
		<canvas id="SalaryProp-area"></canvas>
    </div>

<!-- PAGE CONTENT END -->   
 
</main>
<!-- JS File -->   
<script src="{% static 'jsettings.js' %}"></script>

{% endblock %}

{% block footer %}
{% endblock %}

