{% extends 'dashboard/base_clean.html' %}

{% load static %}

{% block head %}
<title>FinTrent 2021</title>
{% endblock %}

{% block header %}
<h1>Hello!</h1>
{% endblock %}

{% block content %}

<main class="p-3 col-md-9 ms-sm-auto col-lg-10 px-md-4">

<h1> Welcome to <strong>Fintrent.tech</strong> </h1>
 
FinTrent is dynamic web-app that allows you take control, and <br>
 <em> understand your financial future. </em> <p></p>

Be sure to go over to the settings, and plug all your data into the system, <br>
from there we will calculate and display key metrics about how your financial <br>
situation looks set to develop, analysing your investments and assets over your entire <br>
lifetime. <p></p>

This was developped over the course of 24 hours, for the <a href="">Hex Cambridge</a> <br> 
2020 Hackathon, and is therefore pretty barebones and probably very broken. <br> 
Please post any issues you come accross on the GitHub repository! <p></p>

With thanks from the developers- Matthew, Mounir, Luke and Kailen. <p></p>

<div class="container pt-3">
    <div class="row">
      <div class="col-sm">
        <a href="https://github.com/LukJA/trent/issues">
            <img class="img-thumbnail rounded" src="{% static 'dash/GitHub_Logo.png' %}"/>
        </a>
      </div>
      <div class="col-sm-9">
        <a class="nav-link"  href="{% url 'dashboard' %}" class="mx-auto d-block" />
        <button type="button" class="btn btn-danger" href="{% url 'dashboard' %}">Your Dashboard</button>
        </a>
      </div>
    </div>
  </div>
<div>


</main>
{% endblock %}
